<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Utilizando o EJS</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header class="justify-content-md-center">
      <div class="navbar navbar-dark primary-color justify-content-md-center">
          <button class="navbar-brand"><a href="/add">Adicionar</a></button>
      </div>
    </header>
    <main>
      <div class="container"><%- body %></div>
    </main>
  </body>
</html>
